:host {
  display: flex;
  align-items: center;

  .toolbar-button {
    user-select: none;
    padding: 2px 5px;
    text-align: center;
    height: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 2px lightgray;
    color: black;
    &:hover {
      cursor: pointer;
      background-color: lightgray;
    }
  }
}
